body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #007bff 33%, #ffffff 67%);
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    z-index: 1000;
}

.header a:active {
    background-color: #b2d1f6;
    border-bottom: 2px solid #0056b3;
    color: #fff;
}

.header a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin-right: 20px;
    padding: 5px 10px;
    border-radius: 5px;
}

.header a:hover {
    color: #00008B;
    background-color: #ADD8E6;
}

.content {
    flex-grow: 1; /* Allows content to expand */
    display: flex;
    justify-content: space-evenly; /* Evenly distributes content */
    align-items: flex-start; /* Align items to the top */
    padding-top: 60px; /* Header height adjustment */
    width: 100%; /* Set content width to full width of the viewport */
    margin-top: 60px; /* Space below the header */
    margin-bottom: 20px;
}

.left-part, .right-part {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the child content */
    padding: 20px;
    flex: 1; /* Flex property to share the space */
    width: calc(50vw/1.1); /* Maximum width is half of the viewport width */
}

.pdf-upload, .csv-upload {
    border: 1px solid #ccc; /* Visible border */
    width: 100%; /* Full width of the parent container */
    height: 500px; /* Set a fixed height for the preview area */
    box-sizing: border-box; /* Border included in width and height */
    overflow-y: auto; /* Allow vertical scrolling within the preview area */
    margin-top: 20px; /* Space between the button and the preview area */
    
}

#pdf-preview, #csv-preview {
    border: 1px solid #050505;
    width: calc(100%); /* Adjust width based on parent padding */
    height: 600px; /* Consistent height */
    box-sizing: border-box; /* Include padding and border in width/height */
    overflow-y: auto; /* Enable scrolling */
}

.document-button, .update-btn, .experience-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #007bff;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    margin: 0 10px;
    margin-bottom: 10px;
}

.experience-btn {
    height: 50px;
    width: 300px;
}

.document-button:hover, .update-btn:hover, .experience-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.document-button:active, .update-btn:active, .experience-btn:active {
    background-color: #004080;
    transform: scale(0.95);
}

@media (max-width: 800px) {
    .left-part, .right-part {
        flex-basis: 100%; /* Each part takes full width on smaller screens */
    }
    .pdf-upload, .csv-upload, #pdf-preview, #csv-preview {
        height: 300px; /* Adjust the height on smaller screens */
    }
}

.bottom-part {
    padding: 20px;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    position: relative; /* Needed for absolute positioning of the loader */
    width: 100%; /* Full width */
    height: 100%; /* Minimum height */
}

.experience-loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px; /* Space between the button and the loader */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}