<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCQ Scanner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="header">
        <div class="experience-loader-container">
            <button type="button" id="experience-btn" class="experience-btn">Experience Now</button>
            <div class="loader" id="loader"></div>
        </div>
    </div>

    <div class="content">
        <form id="file-upload-pdf" action="/upload_pdf/" method="post" enctype="multipart/form-data">
            <div class="left-part">
                <div class="button_part">
                    <input type="file" name="pdf-file" id="pdf-file-input" accept=".pdf" multiple hidden>
                    <label for="pdf-file-input" class="document-button">Upload PDF</label>
                    <button type="button" id="delete-pdf-btn" class="delete-btn">Delete PDF</button>
                </div>
                <div id="pdf-file-names" class="pdf-upload"></div>
            </div>
        </form>

        <form id="file-upload-csv" action="/upload_csv/" method="post" enctype="multipart/form-data">
            <div class="middle-part">
                <div class="button_part">
                    <input type="file" name="csv-file" id="csv-file-input" accept=".csv" hidden >
                    <label for="csv-file-input" class="document-button">Upload CSV</label>
                    <button type="button" id="delete-csv-btn" class="delete-btn">Delete CSV</button>
                </div>
                <div id="csv-preview" class="placeholder-image"></div>
            </div> 
        </form>
        
        <form id="file-upload-students" action="/upload_student_csv/" method="post" enctype="multipart/form-data">
            <div class="right-part">
                <div class="button_part">
                    <input type="file" name="student-csv-file" id="student-csv-file-input" accept=".csv" hidden>
                    <label for="student-csv-file-input" class="document-button">Upload Stu</label>
                    <button type="button" id="delete-student-csv-btn" class="delete-btn">Delete Stu</button>
                </div>
                <div id="student-csv-preview" class="placeholder-image"></div>
            </div>
        </form>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
